/* CSS VARIABLES */
:root {
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;

    --heading-font: "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

/* PAGE WIDTH */
header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

/* HEADER */
header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    padding: 16px;
}

header img {
    width: 120px;
}

/* NAV */
nav ul {
    list-style: none;
    gap: 20px;
}

nav a {
    color: rgb(76, 9, 220);
    text-decoration: none;
}

/* HEADINGS */
h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

/* SPACING */
nav,
p,
section {
    margin: 20px;
    padding: 8px;
    align-items: center;
}

section h2 {
    text-align: center;
    color: #ffffff;
    background-color: steelblue;
    padding: 1rem;
    margin-bottom: 1rem;
}

article {
    margin: 10px;
    padding: 8px;

}

/* HERO */
.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

/* HERO HEADING */
.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 26px;
    text-align: center;
    background-color: var(--accent1-color);
    color: #fff;
    opacity: 0.85;
}

/* HERO ARTICLE */
.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: rgb(255 255 255 / 80%);
    padding: 16px;
}

/* HERO ARTICLE IMAGE */
.hero article img {
    float: right;
    width: 125px;
    margin-left: 12px;
}

/* FOOTER */
footer {
    border-top: 1px solid #ccc;
    text-align: center;
    padding: 16px;
}

/* SOCIAL MEDIA */
.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 70px;
    margin: 0 8px;
}