main {
    max-width: 900px;
}

aside {
    width: 300px;
    margin: 1rem auto;
    border: 1px solid #999;
    padding: 1rem;
    background-color: #f0f0f0;
    color: #000;
}

aside img {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

main img {
    width: 150px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 2rem;
    border-top: 3px solid #999;
    text-align: center;
}